@{
    ViewData["Title"] = "All books";
}

@{
    List<Book> l = (List<Book>)ViewData["booksList"];
}

@if (@l==null )
{
    <div class="alert alert-info" role="alert" style="margin: 20px">
        <h1>No books found!</h1>
    </div>
}
else{

<div style="margin: 20px">
    <div class="row">
   @foreach (Book @s in @l){
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"> @s.book_id) @s.book_title @s.matiere</h5>

                 <a href="/book/details?id=@s.book_id" class="btn btn-primary btn-lg"> details @s.book_title</a>
                 <a href="/book/create" class="btn btn-primary btn-lg"> create </a>

            </div>

        </div>

   }
   </div>
</div>
}