@{
    ViewData["Title"] = "All books";
}

@{
    List<Book> l = (List<Book>)ViewData["booksList"];
}

@if (@l==null )
{
    <div class="alert alert-info" role="alert" style="margin: 20px">
        <h1>No books found!</h1>
    </div>
}
else{

<div style="margin: 20px">
    <div class="row">
   @foreach (Book @s in @l){
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"> @s.book_id) @s.book_title</h5>
               

            </div>

        </div>

   }
   </div>
</div>
}